.flexContainer {
  display: flex;
  align-items: center;;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  gap: 20px;
  margin: 20px;
  margin-right: 0;
  margin-bottom:40px;
}
@media (max-width: 768px) {
  .flexContainer {
    margin: 10px;
    gap: 10px;
    justify-content: center;
  }
}

