.box {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .weatherIcon {
    width: 60px;
    height: 60px;
  }
  .textTemp {
    font-size: 18px;
    text-align: center;
  }
  
  .high:after,
  .low:after {
    content: '\00b0';
    padding: 1px;
  }
  
  .day {
    color: #dedede;
    text-align: center;
  }
  
  .containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    object-fit: cover;
  }